.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  align-items: center;
}

.authTypes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
}

.authItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #fff;
  padding: 1rem;
  width: 100%;
}

.urls {
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  padding: 1rem;
}

.extraInfo {
}

.userAvatar {
  border-radius: 50%;
}